@media (max-width: 992px){
    .n3,.n4{
        margin-bottom: 2rem;
    }
    .lr{
        display: flex;
        justify-content: space-around;
        padding:0 2.5rem;
    }
}
@media (min-width: 992px){
    .lr{
        display: flex;
        justify-content:left;
        padding-left: 0;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .n3,.n4{
        margin-bottom: 2rem;
    }
    .lr{
        display: flex;
        justify-content: space-around;
        padding:0 2.5rem;
    }
    .row1{
        justify-content: space-evenly;
        margin: 0;
    }
    .testimonials{
        margin-top: 2rem;
        justify-content: space-evenly;
    }
}
@media only screen and (min-width:100px) and (max-width:767px){
    .n3,.n4{
        margin-bottom: 2rem;
    }
    .attribution,.attribution a{
        font-size: 1.2rem;
    }
    .lr{
        width: 100%;
        padding: 0 0.7rem 1rem;
        margin: 0;
    }
    .testimonials{
        margin-top: 2rem;
    }
    /*  */
} 
@media only screen and (min-width: 330px) and (max-width: 750px) {
    .row1{
        justify-content: space-between;
        margin: 0;
    }

}
@media (max-width:330px){
    .testimonials{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .pic{
        width: 3rem;
        border-radius: 50%;
        float: none;
    }
    .person-details,.name,.verified{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
    }
    .feedback{
        font-size: 1.1rem;
        padding:10px 0 10px 0;
    }
    .about{
        z-index: 4;
        font-size: 1rem;
    }
    .attribution,.attribution a{
        font-size: 0.7rem;
    }
    
} 
